<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Start</title>
</head>
<body>
<div>
    {{group}}
    <form method="get" action="/groups">
        <button type="submit">
            Back to groups
        </button>
    </form>
</div>
</body>
</html>
